<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex items-center justify-center pt-8">
      <h1 class="text-center font-extrabold text-2xl">Bienvenido!</h1>
    </div>
    <div class="mt-4 flex items-center justify-center">
      <button
        id="btnFormulario"
        class="font-medium text-white bg-blue-600 border-2 border-blue-600 rounded-lg py-1 px-2 transition-colors duration-300 ease-in-out hover:bg-blue-600 hover:border-blue-600 hover:text-gray-900">
        Formulario
      </button>
    </div>
    <script src="../apps/appMain.js"></script>
  </body>
</html>
